
.pagina-var-estado {
    
    
    main {
        font-family: 'Poppins';
        font-size: 34px;    
        padding: 20px;
        
        h1 {
            font-size: 56px;
            font-family: 'Poppins';
        }

        .contador {
            display: flex;
            flex-direction: column;
            
            width: 300px;
            border: 2px solid #000;
            padding: 20px;

            button {
                font-size: 30px;
                padding: 20px;   
            }
        }


    }

}